use flake

export PIP_REQUIRE_VIRTUALENV=true
export PIP_VERBOSE=true
export PIP_ALL=true
export PIP_REQUIREMENT=$PWD/requirements.txt

# check if .venv exists
if [[ -d .venv ]]; then
    source .venv/bin/activate

#otherwise init venv
else
    python -m venv .venv
    source .venv/bin/activate
fi

# test if requirements.txt is installed
python -m unittest tests.test_requirements -v &> /dev/null

# if not installed, give hints
if [[ ! $? -eq 0 ]]; then
  printf "\x1B[0m" # reset
  printf "\n"
  echo "-----------------------------------------------------------------------------------------"
  printf "\x1B[1;33m" # bold and yellow
  printf "\tInstall requirements.txt dependencies\n"
  printf "\x1B[0m" # reset
  printf "\x1B[34m" # blue
  printf "\t\tHint: use 'pip install -r requirements.txt' to install requirements\n"
  printf "\x1B[0m" # reset
  echo "-----------------------------------------------------------------------------------------"
  printf "\n"
fi
